<div class="card mx-auto" style="max-width: 500px;">
  <div class="card-body">
    <h5 class="card-title">Editar coordinador {{editarCoordinadorForm.get('coordinador')?.value}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Datos del coordinador</h6>


    <form [formGroup]="editarCoordinadorForm" (ngSubmit)="editarCoordinador(editarCoordinadorForm.value)">
      <div class="row">
        <div class="col  ">
          <label for="id">Id</label>
          <input id="id"
                 type="number"
                 name="id"
                 placeholder="Ingrese su Id "
                 formControlName="id"
                 class="form-control"
          >
          <label for="cargo">Cargo</label>
          <input id="cargo"
                 type="text"
                 name="cargo"
                 placeholder="Ingrese su tipo de cargo "
                 formControlName="cargo"
                 class="form-control"
          >

          <label for="nombre">Nombre</label>
          <input id="nombre"
                 type="text"
                 name="nombre"
                 placeholder="Ingrese su nombre"
                 formControlName="nombre"
                 class="form-control"
          >

          <!--    Campo programa del curso      -->
          <label for="apellido">Apellido</label>
          <input id="apellido"
                 type="text"
                 name="apellido"
                 placeholder="Ingrese su apellido"
                 formControlName="apellido"
                 class="form-control"
          >
          <label for="telefono">Telefono</label>
          <input id="telefono"
                 type="text"
                 name="telefono"
                 placeholder="Ingrese su número telefonico"
                 formControlName="telefono"
                 class="form-control"
          >
          <label for="asignatura">Asignatura</label>
          <input id="asignatura"
                 type="text"
                 name="asignatura"
                 placeholder="Ingrese la asignatura a la que pertenece"
                 formControlName="asignatura"
                 class="form-control"
          >
          <label for="correo">Correo</label>
          <input id="correo"
                 type="email"
                 name="correo"
                 placeholder="Ingrese su correo electronico"
                 formControlName="correo"
                 class="form-control"
          >
          <label for="facultad">Facultad</label>
          <input id="facultad"
                 type="text"
                 name="facultad"
                 placeholder="Ingrese la facultad a la que pertenece"
                 formControlName="facultad"
                 class="form-control"
          >

          <br>

          <div class="row justify-content-center mt-3">
            <div class="col-6">
              <button type="submit" class="btn btn-primary btn-block">Editar coordinador</button>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-danger btn-block" (click)="cancelarEditarCoordinador()">Cancelar</button>
            </div>
          </div>


        </div>
      </div>
    </form>


  </div>
</div>

