<form [formGroup]="crearReservaForm" (ngSubmit)="crearReserva(crearReservaForm.value)">
  <div class="content-form">
  <div class="rowfirst">
    <table class="table">
      <thead>
    <div class="col">


      <label for="nombresolicitante">Nombre Solicitante</label>
      <input id = "nombresolicitante"
             type="text"
             name="nombresolicitante"
             placeholder="Escriba el nombre del solicitante aqui"
             formControlName="nombresolicitante"
             class="form-control">

      <label for="fecha">Fecha</label>
      <input id = "fecha"
             type="text"
             name="fecha"
             placeholder="Escriba la fecha aquí"
             formControlName="fecha"
             class="form-control">

      <label for="sala">Sala</label>
      <input id = "sala"
             type="text"
             name="sala"
             placeholder="Escriba la sala aqui"
             formControlName="sala"
             class="form-control">

      <label for="hora">Hora</label>
      <input id = "hora"
             type="text"
             name="hora"
             placeholder="Escriba la hora aquí"
             formControlName="hora"
             class="form-control">


   </div>



      <div class="rowsec justify-content-center mt-3">
        <div class="col-6">
          <button type="submit" class="btn btn-primaryCA btn-block">Crear reserva</button>
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-dangerCA btn-block" (click)="cancelarCrearReserva()">Cancelar</button>

        </div>
      </div>
        </thead>
        <tbody>
        </tbody>
        </table>
      </div>
  <br>
  </div>
  </form>
