.table {
  width: 802px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: Montserrat;
  font-size: 14px;
  border-collapse: collapse;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 300px;
  overflow: visible;
}
.btn-block{
  width: 200px;
  height: 40px;
  padding: 10px;
  text-align: center;
  line-height: 0px;
  background: rgba(254, 175, 0, 1);
  position: absolute;
  top: 80px;
  left:1000px;
  border-style: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-family: Montserrat;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  font-size: 14px;
  overflow: hidden;
}
