<table class="table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Cargo</th>
    <th scope="col">Nombre</th>
    <th scope="col">Apellido</th>
    <th scope="col">Telefono</th>
    <th scope="col">Asignatura</th>
    <th scope="col">Correo</th>
    <th scope="col">Facultad</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{docente.id}}</td>
    <td>{{docente.cargo}}</td>
    <td>{{docente.nombre}}</td>
    <td>{{docente.apellido}}</td>
    <td>{{docente.telefono}}</td>
    <td>{{docente.asignatura}}</td>
    <td>{{docente.correo}}</td>
    <td>{{docente.facultad}}</td>
  </tr>
  </tbody>
</table>

