<div class="card mx-auto" style="max-width: 500px;">
  <div class="card-body">
    <h5 class="card-title">Editar asignatura> {{editarAsignaturaForm.get('asignatura')?.value}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Datos de la asignatura</h6>


    <form [formGroup]="editarAsignaturaForm" (ngSubmit)="editarAsignatura(editarAsignaturaForm.value)">
      <div class="row ">
        <div class="col  ">

          <!--    Campo curso (nombre del curso)      -->
          <label for="asignatura">Nombre</label>
          <input id="asignatura"
                 type="text"
                 name="asignatura"
                 placeholder="Escriba el nombre de la asignatura aquí"
                 formControlName="asignatura"
                 class="form-control"
          >

          <!--    Campo id de curso      -->
          <label for="id">Id</label>
          <input id="id"
                 type="text"
                 name="id"
                 formControlName="id"
                 class="form-control-plaintext"
                 readonly
          >
          <br>

          <div class="row justify-content-center mt-3">
            <div class="col-6">
              <button type="submit" class="btn btn-primary btn-block">Editar asignatura</button>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-danger btn-block" (click)="cancelarEditarAsignatura()">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
