<form [formGroup]="crearAsignaturaForm" (ngSubmit)="crearAsignatura(crearAsignaturaForm.value)">
  <div class="rowfirst">
    <div class="col">

    <label for="nombre">Nombre de la asignatura</label>
    <input id = "nombre"
           type="text"
           name="nombre"
           placeholder="Escriba el nombre de la asignatura aquí"
           formControlName="nombre"
           class="form-control"
    >
    </div>

    <label for="id">ID de la asignatura</label>
    <input id = "id"
           type="number"
           name="id"
           placeholder="Escriba el id de la asignatura aquí"
           formControlName="id"
           class="form-control"

    >
  </div>
      <br>

      <div class="rowsec justify-content-center mt-3">
        <div class="col-6">
          <button type="submit" class="btn btn-primaryCA btn-block">Crear asignatura</button>
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-dangerCA btn-block" (click)="cancelarCrearAsignatura()">Cancelar</button>
        </div>
      </div>

</form>
