<table class="table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Cargo</th>
    <th scope="col">Nombre</th>
    <th scope="col">Apellido</th>
    <th scope="col">Telefono</th>
    <th scope="col">Asignatura</th>
    <th scope="col">Correo</th>
    <th scope="col">Facultad</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{coordinador.id}}</td>
    <td>{{coordinador.cargo}}</td>
    <td>{{coordinador.nombre}}</td>
    <td>{{coordinador.apellido}}</td>
    <td>{{coordinador.telefono}}</td>
    <td>{{coordinador.asignatura}}</td>
    <td>{{coordinador.correo}}</td>
    <td>{{coordinador.facultad}}</td>
  </tr>
  </tbody>
</table>

