<form [formGroup]="crearProgramasForm" (ngSubmit)="crearProgramas(crearProgramasForm.value)">
  <div class="content-form">
    <div class="row rowfirst">
      <label for="nombre">Nombre del programa</label>
      <input id = "nombre"
             type="text"
             name="nombre"
             formControlName="programa"
             placeholder="Escriba el nombre del programa aquí">
    </div>

    <div class="col col-4">
      <button type="submit" class="btn btn-primaryCA" >Crear programa</button>
      <button type="button" class="btn btn-dangerCA" (click)="cancelarCrearProgramas()">Cancelar</button>
    </div>
  </div>
</form>
