<div class="container-fluid max-width-900">

  <!-- Detalle de un programa -->
  <div *ngIf="selected" class="row row-cols-1">
    <div>
      <app-detalle-programas [programas]= "programasSelected"></app-detalle-programas>
    </div>
  </div>

  <!-- Listado de cursos -->
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Id del Programa</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
    </thead>
    <tbody>

    <!--  Este código imprime curso por curso del listado de cursos -->
    <ng-container *ngFor="let programas of programas">
      <tr>
        <td (click)="onSelected(programas)">{{programas.programa}}</td>
        <td (click)="onSelected(programas)">{{programas.id}}</td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="editarProgramas(programas)">Editar</button>
        </td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="borrarProgramas(programas)">Eliminar</button>
        </td>

      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
